---
layout: default
title: Home
---
<div class="posts">
  <ul>
  {% for post in paginator.posts %}

    <li class="post">

      <article>
        <header>
          <h2 class="entry-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
          </h2>

          <p class="meta">
            Posted on {{ post.date | date: '%b %d' }}
          </p>
        </header>

        <div class="entry-content">
          {{ post.content }}
        </div>
      </article>

    </li>

  {% endfor %}
  </ul>
</div>

{% include pagination.textile %}
