<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }} — jamesconroyfinn.com</title>

    <meta name="description" content="The homepage of James Conroy-Finn">
    <meta name="keywords" content="james, conroy, finn, james conroy-finn, jcf, ruby, rails, javascript">
    <meta name="viewport" content="device-width=640, user-scalable=yes">
    <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=jamesconroyfinn.myopenid.com">

    <link rel="openid.server" href="http://www.myopenid.com/server">
    <link rel="openid.delegate" href="http://jamesconroyfinn.myopenid.com">
    <link rel="openid2.local_id" href="http://jamesconroyfinn.myopenid.com">
    <link rel="openid2.provider" href="http://www.myopenid.com/server">

    <link rel="shortcut icon" type="image/png" href="http://www.gravatar.com/avatar/18c2795810ee15d41956e7f4cc5f3338?s=16">

    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css">
    <!--[if lt IE 8]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css">
    <![endif]-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1442849-8']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </head>

   <body>
    <header>
      <div class="content">
        <h2>
          <a href="/">
            <img src="http://www.gravatar.com/avatar/18c2795810ee15d41956e7f4cc5f3338?s=64" title="" alt="Gravatar"></img>
            jamesconroyfinn.com
          </a>
        </h2>
      </div>
    </header>

    <div id="container">
      <div id="inner-container">
        <div id="content">
          {{ content }}
        </div>

        <div id="recent-posts">
          <nav>
          <h2>Posts</h2>
           {% include posts.textile %}
          </nav>
        </div>

      </div>
    </div>

    <footer>
      <div class="content">
        <ul>
          <li>
            <a href="/">jamesconroyfinn.com</a>
          </li>

          <li>
            <a href="/key.html">Key</a>
          </li>

          <li>
            <a href="https://github.com/jcf">Github</a>
          </li>

          <li>
            <a href="https://twitter.com/jamesconroyfinn">Twitter</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
